@import './fonts.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input::placeholder {
  color: #9C9889;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ECEAE4;
  border-radius: 3px;
}

@keyframes slideUp {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}
